In [14]:
from bs4 import BeautifulSoup
import requests
import csv
import pandas as pd

In [15]:
nifty50_stocks = ['RELIANCE','TCS','HDFCBANK','BHARTIARTL','ICICIBANK','INFY','SBIN','ITC','HINDUNILVR','LT']

In [16]:
url = "https://www.screener.in/company/"

In [17]:
Data=[]

In [21]:
for stock in nifty50_stocks:
  URL = url + stock + "/consolidated/"
  page = requests.get(URL)
  soup = BeautifulSoup(page.text, 'lxml')

  stock_name = soup.find('h1', class_='h2 shrink-text').get_text(strip=True)

  ratios = {}
  ratios_list = soup.find('ul', id='top-ratios').find_all('li')
  for item in ratios_list:
    ratio_name = item.find('span', class_='name').text.strip()
    ratio_value = item.find('span', class_='nowrap value').text.strip()
    ratios[ratio_name] = ratio_value

  Data.append([stock_name, ratios])
df = pd.DataFrame(Data)
df.to_csv("nifty50_stocks.csv", index=False)
print(df)

                                0  \
0         Reliance Industries Ltd
1   Tata Consultancy Services Ltd
2                   HDFC Bank Ltd
3               Bharti Airtel Ltd
4                  ICICI Bank Ltd
5                     Infosys Ltd
6             State Bank of India
7                         ITC Ltd
8          Hindustan Unilever Ltd
9             Larsen & Toubro Ltd
10        Reliance Industries Ltd
11        Reliance Industries Ltd
12  Tata Consultancy Services Ltd
13                  HDFC Bank Ltd
14              Bharti Airtel Ltd
15                 ICICI Bank Ltd
16                    Infosys Ltd
17            State Bank of India
18                        ITC Ltd
19         Hindustan Unilever Ltd
20            Larsen & Toubro Ltd
21        Reliance Industries Ltd
22  Tata Consultancy Services Ltd
23                  HDFC Bank Ltd
24              Bharti Airtel Ltd
25                 ICICI Bank Ltd
26                    Infosys Ltd
27            State Bank of India
28                        ITC Ltd
29         Hindustan Unilever Ltd
30            Larsen & Toubro Ltd

                                                    1
0   {'Market Cap': '₹
        17,22,468

 ...
1   {'Market Cap': '₹
        16,18,696

 ...
2   {'Market Cap': '₹
        14,30,929

 ...
3   {'Market Cap': '₹
        10,07,452

 ...
4   {'Market Cap': '₹
        9,49,165

  ...
5   {'Market Cap': '₹
        8,30,325

  ...
6   {'Market Cap': '₹
        7,68,901

  ...
7   {'Market Cap': '₹
        5,88,008

  ...
8   {'Market Cap': '₹
        5,61,576

  ...
9   {'Market Cap': '₹
        5,34,513

  ...
10  {'Market Cap': '₹
        17,22,468

 ...
11  {'Market Cap': '₹
        17,22,468

 ...
12  {'Market Cap': '₹
        16,18,696

 ...
13  {'Market Cap': '₹
        14,30,929

 ...
14  {'Market Cap': '₹
        10,07,452

 ...
15  {'Market Cap': '₹
        9,49,165

  ...
16  {'Market Cap': '₹
        8,30,325

  ...
17  {'Market Cap': '₹
        7,68,901

  ...
18  {'Market Cap': '₹
        5,88,008

  ...
19  {'Market Cap': '₹
        5,61,576

  ...
20  {'Market Cap': '₹
        5,34,513

  ...
21  {'Market Cap': '₹
        17,22,468

 ...
22  {'Market Cap': '₹
        16,18,696

 ...
23  {'Market Cap': '₹
        14,30,929

 ...
24  {'Market Cap': '₹
        10,07,452

 ...
25  {'Market Cap': '₹
        9,49,165

  ...
26  {'Market Cap': '₹
        8,30,325

  ...
27  {'Market Cap': '₹
        7,68,901

  ...
28  {'Market Cap': '₹
        5,88,008

  ...
29  {'Market Cap': '₹
        5,61,576

  ...
30  {'Market Cap': '₹
        5,34,513

  ...